<%= form_for @list do |form| %>
	<label>
		<p><%= form.label :name, "Title"%></p>
		<p> <%= form.text_field :name %></p>
	</label>
	<p><%= form.label :name, "Items"%></p>
	<%= form.fields_for :items do |item_form_builder|%>
		<% render "item_fields", :form => item_form_builder %>
	<% end %>
	<p><%= form.submit "Save this list"%></p>	
<% end %>

<script language='javascript'>
	$(document).ready(function() {
		$("input.remove-check-box").change(function() {
			//console.log(1); // use for debug script
			$(this).parent().fadeOut();
			
		});
	});
	
</script>